@using OnlineFoodOrderingSystem.Models

@{
    ViewBag.Title = "Personal Information";
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Edit Profile</h4>
                    <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                    <form action="/UserInfo/UpdateUser/@ViewBag.User.id" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Fist Name</label>
                                        <input type="text" class="form-control" name="first_name" value="@ViewBag.User.first_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Last Name</label>
                                        <input type="text" class="form-control" name="last_name" value="@ViewBag.User.last_name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email address</label>
                                        <input type="email" class="form-control" name="email" value="@ViewBag.User.email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Phone Number</label>
                                        <input type="text" class="form-control" name="phoneNo" value="@ViewBag.User.phoneNo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">
                        Payment Cards
                        <a href="/UserInfo/AddCard/">
                            <button type="button" rel="tooltip" title="Add Card" class="btn btn-white btn-link btn-sm pull-right">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    </h4>
                    <p class="card-category">Add your payment cards.</p>
                </div>
                @foreach (PaymentCard card in ViewBag.UserCards)
                {
                    if (ViewBag.UserCards.Count == 0 || card == null)
                    {
                        <div class="alert alert-warning col-md-10  mx-auto" style="margin-top:20px">
                            <span>
                                You do not have any registered cards yet.
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="card mx-auto" style="width: 96%;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @card.card_name
                                    <a href="/UserInfo/UpdateCard/@card.id">
                                        <button type="button" rel="tooltip" title="Update Card" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                    <!-- Button trigger delete modal -->
                                    <button type="button" rel="tooltip" title="Delete Card" class="btn btn-danger btn-link btn-sm" data-toggle="modal" data-target="#deleteModal">
                                        <i class="material-icons">close</i>
                                    </button>
                                </h5>
                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">Delete Card</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete the @card.card_name?
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/UserInfo/DeleteCard/@card.id" method="post">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="submit" class="btn btn-danger" name="name" value="Yes" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Expiration Date</label>
                                                    <input type="text" class="form-control" value="@card.expiration_data">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Card Number</label>
                                                    <input type="text" class="form-control" value="@card.card_no">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">CVV</label>
                                                    <input type="text" class="form-control" value="@card.cvv">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">
                        Addresses
                        <a href="/UserInfo/AddAddress/">
                            <button type="button" rel="tooltip" title="Add Address" class="btn btn-white btn-link btn-sm pull-right">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    </h4>
                    <p class="card-category">Add your addresse(s).</p>
                </div>
                @foreach (Address_ address in ViewBag.UserAddresses)
                {
                    if (ViewBag.UserAddresses.Count == 0 || address == null)
                    {
                        <div class="alert alert-warning col-md-10  mx-auto" style="margin-top:20px">
                            <span>
                                You do not have any registered address yet.
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="card mx-auto" style="width: 96%;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @address.address_name
                                    <a href="/PersonalInformation/AddressEdit/@address.id">
                                        <button type="button" rel="tooltip" title="Edit Address" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                    <a href="/PersonalInformation/AddressDelete/@address.id">
                                        <button type="button" rel="tooltip" title="Delete Address" class="btn btn-danger btn-link btn-sm">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </a>
                                </h5>
                                <br />
                                <form>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Neighborhood</label>
                                                    <input type="text" class="form-control" value="@address.neighborhood">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Street</label>
                                                    <input type="text" class="form-control" value="@address.street">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Building Name</label>
                                                    <input type="text" class="form-control" value="@address.building_name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Building No</label>
                                                    <input type="text" class="form-control" value="@address.building_no">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Flat No</label>
                                                    <input type="text" class="form-control" value="@address.flat_no">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Town</label>
                                                    <input type="text" class="form-control" value="@address.town">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">City</label>
                                                    <input type="text" class="form-control" value="@address.city">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>