@using OnlineFoodOrderingSystem.Models

@{
    ViewBag.Title = "Personal Information";
}

@section body
{
    <!-- Delete Payment Card Modal -->
    <div class="modal fade delete-modal" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <h4 class="modal-title" id="delete-modal-label">Delete Card</h4>
                </div>
                <div class="modal-body">
                    <p class="message"></p>
                    <p class="error"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger deleteModalButton">Yes</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->

    <!-- Delete Address Modal -->
    <div class="modal fade delete-address-modal" id="delete-address-modal" tabindex="-1" role="dialog" aria-labelledby="delete-address-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-border-top="multi">
                <div class="modal-header">
                    <h4 class="modal-title" id="delete-address-modal-label">Delete Card</h4>
                </div>
                <div class="modal-body">
                    <p class="message"></p>
                    <p class="error"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger deleteAddressModalButton">Yes</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Edit Profile</h4>
                    <p class="card-category">Complete your profile</p>
                </div>
                <div class="card-body">
                    <form action="/UserInfo/UpdateUser/@ViewBag.User.id" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">First Name</label>
                                        <input type="text" class="form-control" name="first_name" value="@ViewBag.User.first_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Last Name</label>
                                        <input type="text" class="form-control" name="last_name" value="@ViewBag.User.last_name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email address</label>
                                        <input type="email" class="form-control" name="email" value="@ViewBag.User.email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Phone Number</label>
                                        <input type="text" class="form-control" name="phoneNo" value="@ViewBag.User.phoneNo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                    </form>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body mx-auto">
                            <h5 class="card-text lead text-primary">
                                Payment Cards
                                <a href="/UserInfo/AddCard/">
                                    <button type="button" rel="tooltip" title="Add Card" class="btn btn-primary btn-link btn-sm text-right">
                                        <i class="material-icons">add</i>
                                    </button>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>

                @foreach (PaymentCard card in ViewBag.UserCards)
                {
                    if (ViewBag.UserCards.Count == 0 || card == null)
                    {
                        <div class="alert alert-warning col-md-10  mx-auto" style="margin-top:20px">
                            <span>
                                You do not have any registered cards yet.
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="card mx-auto" style="width: 96%;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @card.card_name
                                    <a href="/UserInfo/UpdateCard/@card.id">
                                        <button type="button" rel="tooltip" title="Update Card" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                    <!-- Button trigger delete modal -->
                                    <button type="button" rel="tooltip" title="Delete Card" class="btn btn-danger btn-link btn-sm openModal" data-toggle="modal" data-target="#delete-modal" data-cardid="@card.id" data-cardname="@card.card_name">
                                        <i class="material-icons">close</i>
                                    </button>
                                </h5>
                                <form>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Expiration Date</label>
                                                    <input type="text" class="form-control" value="@card.expiration_data">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Card Number</label>
                                                    <input type="text" class="form-control" value="@card.card_no">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">CVV</label>
                                                    <input type="text" class="form-control" value="@card.cvv">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                }

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body mx-auto">
                            <h5 class="card-text lead text-primary">
                                Addresse(s)
                                <a href="/UserInfo/AddAddress/">
                                    <button type="button" rel="tooltip" title="Add Address" class="btn btn-primary btn-link btn-sm text-right">
                                        <i class="material-icons">add</i>
                                    </button>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>

                @foreach (Address_ address in ViewBag.UserAddresses)
                {
                    if (ViewBag.UserAddresses.Count == 0 || address == null)
                    {
                        <div class="alert alert-warning col-md-10  mx-auto" style="margin-top:20px">
                            <span>
                                You do not have any registered address yet.
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="card mx-auto" style="width: 96%;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @address.address_name
                                    <a href="/UserInfo/UpdateAddAddress/@address.id">
                                        <button type="button" rel="tooltip" title="Update Address" class="btn btn-primary btn-link btn-sm">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>

                                    <!-- Button trigger delete modal -->
                                    <button type="button" rel="tooltip" title="Delete Address" class="btn btn-danger btn-link btn-sm openAddressModal" data-toggle="modal" data-target="#delete-address-modal" data-addressid="@address.id" data-addressname="@address.address_name">
                                        <i class="material-icons">close</i>
                                    </button>
                                </h5>
                                <br />
                                <form>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Neighborhood</label>
                                                    <input type="text" class="form-control" value="@address.neighborhood">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Street</label>
                                                    <input type="text" class="form-control" value="@address.street">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Building Name</label>
                                                    <input type="text" class="form-control" value="@address.building_name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Building No</label>
                                                    <input type="text" class="form-control" value="@address.building_no">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Flat No</label>
                                                    <input type="text" class="form-control" value="@address.flat_no">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Town</label>
                                                    <input type="text" class="form-control" value="@address.town">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">City</label>
                                                    <input type="text" class="form-control" value="@address.city">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(".openModal").click(function () {
            $(".modal-body>p.error").html("");
            var card_name = $(this).data("cardname");
            $(".modal-body>p.message").html("Are you sure you want to delete the card with name " + card_name);
            var id = $(this).data("cardid");
            $(".deleteModalButton").data("cardid", id);
        });

        $(".deleteModalButton").click(function () {
            var id = $(this).data("cardid");
            $.ajax({
                type: "POST",
                url: "/UserInfo/DeleteCard/" + id,
                success: window.location.replace("/UserInfo/Index"),
                error: function () {
                    $(".modal-body>p.error").html("Error occured while deleting.");
                    $(".modal-body>p.message").html("");
                    $(".deleteModalButton").hide();
                }
            });
        });


        $(".openAddressModal").click(function ()
        {
            $(".modal-body>p.error").html("");
            var address_name = $(this).data("addressname");
            $(".modal-body>p.message").html("Are you sure you want to delete the address with name " + address_name);
            var id = $(this).data("addressid");
            $(".deleteAddressModalButton").data("addressid", id);
        });

        $(".deleteAddressModalButton").click(function ()
        {
            var id = $(this).data("addressid");
            $.ajax({
                type: "POST",
                url: "/UserInfo/DeleteAddress/" + id,
                success: window.location.replace("/UserInfo/Index"),
                error: function () {
                    $(".modal-body>p.error").html("Error occured while deleting.");
                    $(".modal-body>p.message").html("");
                    $(".deleteAddressModalButton").hide();
                }
            });
        });
    </script>
}