@using OnlineFoodOrderingSystem.Models


@{
    ViewBag.Title = "Add Restaurant";
}


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Restaurant Operations</h4>
            </div>
            <div class="card-body">
                <form action="/ManageRestaurants/AddRestaurant/" method="post">

                    @if (ViewBag.Restaurant != null)
                    {
                        <input type="hidden" name="id" value="@ViewBag.Restaurant.id" />
                    }

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Restaurant Owner Id</label>
                                    @if (ViewBag.Restaurant.id_seller == 0)
                                    {
                                        <input type="text" class="form-control" name="id_seller" value="">

                                    }
                                    else
                                    {
                                        <input type="hidden" class="form-control" name="id_seller" value="@ViewBag.Restaurant.id_seller">
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Restaurant Name</label>
                                    @if (ViewBag.Restaurant.restaurant_name == null)
                                    {
                                        <input type="text" class="form-control" name="restaurant_name" value="">

                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" name="restaurant_name" value="@ViewBag.Restaurant.restaurant_name">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Town</label>
                                    @if (ViewBag.Restaurant.town == null)
                                    {
                                        <input type="text" class="form-control" name="town" value="">

                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" name="town" value="@ViewBag.Restaurant.town">
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">City</label>
                                    @if (ViewBag.Restaurant.city == null)
                                    {
                                        <input type="text" class="form-control" name="city" value="">

                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" name="city" value="@ViewBag.Restaurant.city">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="cuisines">Cuisines</label>
                                    <select id="cuisines" class="form-control" name="cuisine_id">
                                        
                                        <option selected> Choose ...</option>
                                        @foreach (Cuisine cuisine in ViewBag.Cuisines)
                                        {
                                            <option value="@cuisine.id"> @cuisine.cuisine_name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

